<footer style="background-color: hsl(233, 26%, 24%);">
<div class="container">
    <div class="row ">
        <div class="col-lg-4 ">
            <img src="assets/logo-footer.png" alt="" class="col" style="margin-bottom: 5%; margin-top: 5%;">


            <div class="col-lg-12">

                <img src="assets/icon-youtube.svg" alt="" class="col" width="auto" height="auto"
                    style="margin-left: 1%;">
                <img src="assets/icon-facebook.svg" alt="" class="col" width="auto" height="auto"
                    style="margin-left: 3%;">
                <img src="assets/icon-instagram.svg" alt="" class="col" width="auto" height="auto"
                    style="margin-left: 3%;">
                <img src="assets/icon-twitter.svg" alt="" class="col" width="auto" height="auto"
                    style="margin-left: 3%;">
                <img src="assets/icon-pinterest.svg" alt="" class="col" width="auto" height="auto"
                    style="margin-left: 3%;">

            </div>


        </div>

        <div class="col-lg-2 col-md-4">
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center footer-link">About Us</a>
            </div>
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center ">Contact</a>
            </div>
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center">Blog</a>
            </div>

        </div>
        <div class="col-lg-2 col-md-4">
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center">Careers</a>
            </div>
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center">Support</a>
            </div>
            <div style="margin-top: 5%;">
                <a href="" class="text-white text-center">Privacy Policy</a>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 container">

            <button class=" btn text-white " 
                style=" background: linear-gradient(45deg,hsl(136, 65%, 51%),hsl(202, 64%, 63%)); border-radius: 3em; margin-top: 5%;" type="submit">Request
                Invite</button>
                <div class="text-white" style="margin-top:5%">
                    © Easybank. All Rights Reserved
                </div>
                

        </div>


    </div>
    <div class="attribution text-muted text-center" style="margin-top: 3%;">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#">Julio Cesar Moreno Ramírez</a>.
      </div>
</div>
   

    <span style="margin-bottom: 5%;"> </span>
</footer>